Import-Module ADDSDeployment
Install-ADDSForest 
{%- for key, value in _ad_opts | dictsort %}
{%- if key == 'SafeModeAdministratorPassword' %}
 -{{ key }} (ConvertTo-SecureString -AsPlainText -Force -String "{{ value }}")
{%- elif key == 'CreateDnsDelegation' %}
 -{{ key }} {{ value }}
{%- elif key == 'InstallDns' %}
 -{{ key }} {{ value }}
{%- elif key == 'NoRebootOnCompletion' %}
 -{{ key }} {{ value }}
{%- elif key == 'Force' %}
 -{{ key }} {{ value }}
{%- else %}
 -{{ key }} "{{ value }}"
{%- endif %}
{%- endfor %}