# required charactor code utf-8 BOM

# パラメータファイル
$do_convert = {{ j2_do_convert }}
$conv_src_path = {{ j2_conv_src_path }}
$unattend_file_path = {{ j2_unattend_file_path }}
$vhdx_output_path = {{ j2_vhdx_output_path }}
$do_createvm = {{ j2_do_createvm }}
$vm_home_path = {{ j2_vm_home_path }}
$vm_vhd_path = {{ j2_vm_vhd_path }}
$vm_name = {{ j2_vm_name }}
$vm_cpu_count = {{ j2_vm_cpu_count }}
$vm_memory_size = {{ j2_vm_memory_size }}
$vm_hdd_size = {{ j2_vm_hdd_size }}
$vm_switch = {{ j2_vm_switch }}
$network_adapter_name = {{ j2_network_adapter_name }}